/**
 * Custom Stylesheet
 * Overrides Materialize defaults
 * Written by Jack Baumann
 */
/* The carousel has a problem where it loads with a height of 0 if images are cached. */
.carousel-slider {
  height: 95vh;
}
.carousel-slider img {
  height: 95vh;
  object-fit: contain; /* this will fill the view window without losing aspect ratio.*/
}

/* Code to sticky the footer to the bottom of the window.*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.parallax-container {
  height: 25rem;
}

.bgg-container {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
  display: flex;
}

.icon-block i {
  font-size: 75px;
}

.card-container {
  column-gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 30rem;
}

/* Center nav buttons in left and right margins */
/* https://www.sitepoint.com/atoz-css-quick-tip-vertical/ */
.carousel-with-nav-buttons {
  position: relative;
  width: 100vw;
}
.carousel-with-nav-buttons img {
  object-fit: contain;
  height: 100%;
}
.carousel-with-nav-buttons #rewind {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.carousel-with-nav-buttons #forward {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
