* {
  padding: 0px;
  margin: 0px;
}

header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 3.0em;
  font-family: 'Raleway', sans-serif;
}

nav ul li a {
  display: inline;
  text-align: center;
  background-color: #00BCD4;
  color: black;
  padding: 0px;
  margin: 0px;
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid white;
  float: left;
}

nav ul li a:hover {
    background-color: #9E9E9E;
    color: #00BCD4;
}

nav, nav ul {
  width: 100%;
  float: left;
  padding-right: 50px;
}

body h2 {
  padding-left: 80px;
}

body p {
  padding-top: 40px;
}

footer p {
  position: fixed;
  width: 100%;
  bottom: -10px;
  text-align: center;
  background-color: black;
  font-size: 1.0em;
  color: white;
  font-family: 'Raleway', sans-serif;
}

img{
  width: 200px;
  height: 200px;
}

p {
  font-size:2.0em;
  padding: 10px;
}

 /* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

.nav-toggle {
  text-decoration: none;
  text-indent: -999px;
  position: absolute;;
  overflow: hidden;
  margin: 10px;
  width: 70px;
  height: 55px;
  float: right;
  padding: 0px;
}

.nav-toggle:before {
  color: #9E9E9E; /* Edit this to change the icon color */
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"X";
  padding: 0px;
}

.nav-collapse {
  position: absolute;
  width: 100%;
  top: 5em;
  left: 0;
}

.nav-collapse ul {
  display: block;
  width: 100%;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.nav-collapse a {
  color: #9E9E9E;
  font-weight: bold;
  text-shadow: 0 2px #616161;
  border: 1px solid #616161;
  display: block;
  padding: .25em;
  width: 100%;
}

.nav-collapse .active a {
  color: #00BCD4;
  background: #9E9E9E;
}
